<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Optical Mark and Text Recognition</title>
</head>
<body bgcolor="#CCCBCB">
    <table align="center" width="700px" height="450px">
        <tr>
            <br>
            <th><h1>Optical Mark and Text Recognition</h1></th>
        </tr>
        {% if output_excel_file_name is not None %}
        <tr align="center">
            <td>
                <a href="/otr/download/{{output_excel_file_name}}" download>Download Excel File</a>
            </td>
        </tr>
        <tr align="center">
            <td>
                <form action="/otr">
                    <input type="submit" value="Go Back" />
                </form>
            </td>
        </tr>
        {% end %}
        {% if errors is not None %}
        <tr align="center">
            <td>
                {% raw errors %}
            </td>
        </tr>
        {% end %}
    </table>
    <footer>
        <p align="center">
            &copy; Krish Perumal, Jagan Mohan Ungati. 2017.
        </p>
    </footer>
</body>
</html>